* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-white: #ffffff;
  --color-blue-primary: #065e7c;
  --color-blue-secondary: #387e96;
  --color-title: #202024;
  --color-paragraph: #121214;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-blue-primary);
}

header {
  background-color: var(--color-blue-primary);
  padding-block: 1.6rem;
}

header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

header form {
  flex: 1;
}

header img {
  border-radius: 50%;
  width: 4.2rem;
  object-fit: cover;
}

header form input {
  border: 0;
  border-radius: 0.4rem;
  width: 100%;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 600;
}

input::placeholder {
  color: var(--color-white);
}

.container {
  width: min(122rem, 100%);

  margin: 0 auto;
  padding-block: 1.6rem;
}

main {
  display: flex;
  gap: 3.4rem;

  background-color: var(--color-white);
}

header,
section:first-child .col-2,
section:first-child .text,
section:first-child > p,
section:last-child,
footer {
  padding-inline: 2.4rem;
}

main .main-container {
  display: flex;
  flex-direction: column;
  width: min(122rem, 100%);
  margin-inline: auto;
  padding-block: clamp(0rem, 4800vw - 4915.2rem, 4.8rem) 4.8rem;

  gap: 3.2rem;

  overflow: hidden;
}

section:first-child > img {
  width: 100%;
  transform: scale(1.1);
}

main h1 {
  color: var(--color-title);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
}

button {
  border: 0;
  background-color: var(--color-white);
  cursor: pointer;
}

main p {
  color: var(--color-paragraph);
  font-weight: 400;
  line-height: 1.6;
}

section h2 {
  color: var(--color-title);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
}

section h3 {
  color: var(--color-title);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
}

section p {
  color: var(--color-paragraph);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

section .col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  width: 38.4rem;
  gap: 1.6rem;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.buttons button {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 6.4rem;
}

footer p {
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 1025px) {
  main .main-container {
    flex-direction: row;
  }

  section .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section:first-child > img {
    transform: scale(1);
  }
}

@media (min-width: 1244px) {
  header,
  section:first-child .col-2,
  section:first-child .text,
  section:first-child > p,
  section:last-child,
  footer {
    padding-inline: 0;
  }
}
